<h1 style="text-align:center; padding-bottom: 25px; margin-bottom:30px; border-bottom: 2px dotted #eee;">Lets ask all the things!</h1>

<div id="survey_creation_container">
  <form name="survey" class="form-horizontal">
    <div class="alert alert-danger" role="alert" id="error" style="display:none;"></div>

    <div class="form-group form-group-lg">
      <label for="surveyName" class="col-sm-2 control-label">Survey Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="surveyName" data-type="survey">
      </div>
    </div>  

    <div class="form-group form-group-lg">
      <label for="questionText1" class="col-sm-2 control-label">Question 1 Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="questionText1" data-type="question" data-num="1">
      </div>
    </div> 

    <div class="form-group form-group-lg">
      <label for="answerText1" class="col-sm-2 control-label">Answer 1 Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="answerText1" data-type="answer" data-num="1">
      </div>
    </div> 

    <div class="form-group form-group-lg">
      <label for="questionText2" class="col-sm-2 control-label">Question 2 Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="questionText2" data-type="question" data-num="2">
      </div>
    </div> 


    <div class="form-group form-group-lg">
      <label for="answerText2" class="col-sm-2 control-label">Answer 2 Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="answerText2" data-type="answer" data-num="2">
      </div>
    </div> 


    <div class="form-group form-group-lg">
      <label for="answerText2" class="col-sm-2 control-label">Answer 2b Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="answerText2" data-type="answer" data-num="2">
      </div>
    </div> 

    <button type="button" class="btn btn-default btn-lg btn-primary btn-block" data-type="done">Done</button>
  </form>
</div>